@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241,245,241);
    /* background-color: black; */
    /* color : #fff; */
}
/* input, textarea{
    color : #fff;
    background-color: transparent;
} */